@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	//background-color: #F4F4F8;
	background-color: #FED766;
	scroll-behavior: smooth;
	overflow-x: hidden;
	/*flex-wrap: wrap;
	align-content: center;
	display: grid;*/
	max-height: 1300px;
	align-content: center;
	text-align: center;
	justify-content: center;
	width:100%;
	height: auto;
	font-family: 'DM Serif Display', serif;
}
.main_bg {
	z-index: -5;
	padding: 5px;
}
.gifs-section {
}
#desc {
	background-color: #F4F4F8;
	transform: scaleY(0);
	transition: .65s ease-out;
	padding-bottom: 5px;
	padding-top: 5px;
}
#desc.animate {
	transform: scaleY(1);
	height: 100%;
}
h3 {
	margin: auto;
	text-align: center;
	width: 50%;
	opacity: .3;
	padding: 10px;
}
h2 {
	margin: auto;
	text-align: center;
	width: 100%;
	padding: 10px;
	//background-color: white;
}
h1 {
	text-align: center;
	//width: 50%;
	opacity: 1;
	//padding: 10px;
	text-decoration-line: underline;
}
#d {
	width: 50%;
	margin-left: 25vw;
}
p {
	font-size: 18px;
}
.video_container {
	margin-top: 25px;
	margin-bottom: 25px;
}
#email {
	margin-top: 25px;
	margin-bottom: 25px;
	z-index: 5;
}
a:hover {
	color: #F4F4F8;
	
}
a {
	color: black;
	font-size: 24px;
}
#takemeback {
	margin-top: 25px;
	user-select: none;
	cursor: pointer;
}
img:hover {
	transform: scale(1.2, 1.2);
}
#footer {
}
.video {
	width: 75%;
}
.home-section {
	overflow: hidden;
}
img {
	height: 255px;
}
