@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	//background-color: #F4F4F8;
	background-color: #FED766;
	width: 100vw;
	scroll-behavior: smooth;
	overflow-x: hidden;
	/*flex-wrap: wrap;
	align-content: center;
	display: grid;*/
	max-height: 1300px;
}
.main_bg {
	position:absolute;
	z-index: -5;
}
.gifs-section {
}
h1 {
	font-family: 'BioRhyme', serif;
	font-size: 74px;
	position: absolute;
	left: 791px;
	top: 173px;
}
#video_container {
	position: absolute;
	left: 5vw;
	top: 5vw;
	z-index: 2;
}
#email {
	position: absolute;
	text-align: right;
	left: 75vw;
	top: 75vh;
	z-index: 5;
	font-family: 'DM Serif Display', serif;
}
a:hover {
	color: black;
}
p, a {
	font-size: 36px;
}
a {
	color: #F4F4F8;
}
.footertext {
	text-align: left;
	position: absolute;
	z-index: 1;	
	font-family: 'BioRhyme', serif;
	font-size: 455px;
	user-select: none;
	opacity: 0%;
}
#takemeback {
	position: absolute;
	left:50vw;
	user-select: none;
	cursor: pointer;
}
.row {
	flex-wrap: wrap;
	padding: 0 4px;
	margin-left:4.75vw;
	align-content: center;
	display:grid;
}
.overlaytext {
	visibility: hidden;
	z-index: 5;
	position: absolute;
	text-align: center center;
}
img:hover {
	transform: scale(1.2, 1.2);
}
img:hover > .overlaytext{
	visibility: visible;
}

